
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap'); 
@import url(https://fonts.googleapis.com/css?family=Exo:100);
:root {
    --color-primario: #E53935; 
    --color-primario-oscuro: #460707; 
    --color-texto-principal: #212121; 
    --color-texto-secundario: #424242; 
    --color-fondo: #FFFFFF;
    --color-fondo-alternativo: #f4f4f4; 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto-principal);
    line-height: 1.6;
}


a {
    text-decoration: none;
    color: var(--color-primario);
}

h1, h2, h3 {
    margin-bottom: 1rem;
    font-weight: 700;
}
@-webkit-keyframes bg-scrolling-reverse {
  100% { background-position: 50px 50px; }
}
@-moz-keyframes bg-scrolling-reverse {
  100% { background-position: 50px 50px; }
}
@-o-keyframes bg-scrolling-reverse {
  100% { background-position: 50px 50px; }
}
@keyframes bg-scrolling-reverse {
  100% { background-position: 50px 50px; }
}

@-webkit-keyframes bg-scrolling {
  0% { background-position: 50px 50px; }
}
@-moz-keyframes bg-scrolling {
  0% { background-position: 50px 50px; }
}
@-o-keyframes bg-scrolling {
  0% { background-position: 50px 50px; }
}
@keyframes bg-scrolling {
  0% { background-position: 50px 50px;
}
}