<div class="toolbar-container">
    <mat-toolbar class="custom-toolbar">
      <div>
        <button mat-button [matMenuTriggerFor]="menuG4" style="color: white;">Reportes</button> 
      </div>
    </mat-toolbar>

  </div>
  
  <mat-menu #menuG4="matMenu">
    <p> </p>
    <button mat-menu-item routerLink="/reportes/analisisrentabilidad">Obtener la rentabilidad del prestamo </button>
    <button mat-menu-item routerLink="/reportes/creditoPorusuarioconPeriodogracia">Obtener los créditos de vivienda de un usuario que cuentan con un periodo de gracia </button>
    <button mat-menu-item routerLink="/reportes/preciocorrespondienteporpropiedadxusuario">Obtener el detalle financiero de la compra y los datos de la propiedad del cliente</button>
    <button mat-menu-item routerLink="/reportes/propiedadxuser">Obtener los detalles del inmueble vinculado al crédito de vivienda del usuario</button>
  </mat-menu>

  <div *ngIf="showWelcomeMessage" class="welcome-message">
    Bienvenido al apartado de reportes de nuestra plataforma. Aquí podrás acceder a todos los informes importantes y funcionalidades extra!!
</div>

  <router-outlet></router-outlet>
  
